<div class="textInput">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input
        #inputField
        type="text"
        aria-label="Number"
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto"
        [(ngModel)]="enteredText"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <div class="buttonDiv">
    <button class="addNoteButton" mat-stroked-button disabled style="color: goldenrod; margin: 2rem;">Add Note+</button>
    <button class="resetButton" mat-flat-button style="background-color: rgb(255, 241, 213); color: goldenrod; margin: 2rem;" (click)="onFormReset()">Reset</button>
  </div>
</div>
